<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>935053877834-68cdqjofi758h10aqdppn4cprcqji5mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935053877834-68cdqjofi758h10aqdppn4cprcqji5mi</string>
	<key>API_KEY</key>
	<string>AIzaSyBQbDgkPVBbWF-tnL6aTHM0sd5pAt1LIb8</string>
	<key>GCM_SENDER_ID</key>
	<string>935053877834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.hiteshApnTest</string>
	<key>PROJECT_ID</key>
	<string>pushnotificaitontester</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificaitontester.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935053877834:ios:b630ceb6de335b6b</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotificaitontester.firebaseio.com</string>
</dict>
</plist>